@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
	font-family: 'Source Code Pro';
	color: #ffffff;
	background-color: #1A1A1A;
	font-size: 30px;
}

span {
	margin: 0;
}	

.loading-container {
	width:300px;
	margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.spin-it-L {
	font-weight: bolder;
}